[Desktop Entry]
Version=1.0
Type=Application
Name=Free Cluely
Comment=Open Source version of Cluely
Exec={{ free_cluely_install_dir | default('~/.local/share/free-cluely') }}/start-free-cluely.sh
Icon={{ free_cluely_install_dir | default('~/.local/share/free-cluely') }}/public/icon.png
Terminal=false
Categories=Development;Utility;
