[Desktop Entry]
Version=1.0
Type=Application
Name=ActivityWatch
Comment=Automated time tracker
Exec={{ ansible_env.HOME }}/.local/share/activitywatch/aw-qt
Icon={{ ansible_env.HOME }}/.local/share/activitywatch/media/logo/logo.png
Terminal=false
Categories=Utility;Office;
StartupNotify=true
Hidden=false
X-GNOME-Autostart-enabled=true