[Desktop Entry]
Version=1.0
Type=Application
Name=ActivityWatch
Comment=Automated time tracker - Open source productivity tracker
Exec={{ ansible_env.HOME }}/.local/share/activitywatch/aw-qt
Icon={{ ansible_env.HOME }}/.local/share/activitywatch/media/logo/logo.png
Terminal=false
Categories=Utility;Office;Productivity;
StartupNotify=true
Keywords=time;tracking;productivity;analytics;