[Desktop Entry]
Version=1.0
Type=Application
Name=Fathom
Comment=Meeting recorder and transcription
Exec={{ ansible_env.HOME }}/.local/bin/fathom.AppImage
Icon=fathom
Terminal=false
Categories=AudioVideo;Audio;Video;Office;
StartupNotify=true
Hidden=false
X-GNOME-Autostart-enabled=true