[Desktop Entry]
Version=1.0
Type=Application
Name=WebStorm
Icon=/opt/WebStorm/bin/webstorm.svg
Exec="/opt/WebStorm/bin/webstorm.sh" %f
Comment=The Smartest JavaScript IDE
Categories=Development;IDE;WebDevelopment;
Terminal=false
StartupWMClass=jetbrains-webstorm
StartupNotify=true
